/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  -webkit-transition: opacity 4s, visibility 4s;
  -o-transition: opacity 4s, visibility 4s;
  transition: opacity 4s, visibility 4s;
}

.loader--hidden {
  opacity: 1;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #1d1d1d;
  border-radius: 50%;
  -webkit-animation: loading 4s ease infinite;
          animation: loading 4s ease infinite;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(4turn);
            transform: rotate(4turn);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(4turn);
            transform: rotate(4turn);
  }
}
